### Tuples 
A Tuple in python is similar to a list. The difference the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list. 


In Short, a tuple is an **immutable list**. A tuple can not be changed in any way once it is created.

Characterstics
- Ordered
- Unchangeble
- Allow Duplicate

#### Plan to study the tuples
- Creating a Tuple
- Accessing items
- Editing items 
- adding items
- Deleting items
- Operations on tuples 
- Tuples functions

#### Creating tuples

In [5]:
# empty
t1=()
# creating a tuple with a single item 
t2=(2)
print(type(t2))
t3 = ("hello")
print(type(t3))

<class 'int'>
<class 'str'>

In [2]:
t1

()

In [6]:
# creating a tuple with a single item -> adding one comma on the item 
t2=(2,)
print(type(t2))
t3 = ("hello",)
print(type(t3))

<class 'tuple'>
<class 'tuple'>

In [7]:
# homo/hetro
t3 = (1,2,3)
t4 = (1,2,3,"hello")

In [8]:
print(t3,t4)

(1, 2, 3) (1, 2, 3, 'hello')

In [10]:
# tuple 
t5 = (1,2,3,(4,5))
print(t5)

(1, 2, 3, (4, 5))

In [12]:
# ueing type conversion 
t6 = tuple([1,2,3])
print(type(t6))

<class 'tuple'>

#### Accessing Items 
- Indexing 
- Slicing

In [14]:
t3[0]

1

In [15]:
t3[-1]

3

In [17]:
print(t3[::-1])

(3, 2, 1)

#### Editing items
Tuples are immutable so can't edit the items in the tuples.

In [20]:
print(t3)
t3[0]=100
# immutables just like strings

(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

#### Adding items 
Not possible

In [21]:
print(t3)

(1, 2, 3)

#### Deleting items 
- we can delete the whole tuple.
- we can't delete the portion of the tuple.

In [22]:
print(t3)

(1, 2, 3)

In [23]:
del t3

In [24]:
print(t3)

NameError: name 't3' is not defined

In [25]:
t5

(1, 2, 3, (4, 5))

In [26]:
del t5[-1] # not possible

TypeError: 'tuple' object doesn't support item deletion

In [27]:
t=(1,2,3,4,5)
t[-1:-4:-1]

(5, 4, 3)

#### Operations on Tuples 
- '+' and *
- membership
- itreation

In [29]:
# + and *
t1=(1,2,3,4)
t2=(5,6,7,8)
print(t1+t2)
print(t1*2)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4)

In [30]:
# membership 
1 in t1

True

In [31]:
#Iteration 
for i in t1:
    print(i)

1
2
3
4

#### Tuple functions

In [35]:
#len/min/max/sorted/sum
t=(1,2,3,4)
sum(t)
min(t)
sorted(t,reverse=True)

[4, 3, 2, 1]

In [37]:
#count
t=(1,2,3,4,5,6)
t.count(4)
t.count(50)

0

In [38]:
#index
t.index(5)

4

In [39]:
t.index(50)# 50 not in tuple

ValueError: tuple.index(x): x not in tuple

#### Difference between List and Tuples 
- Syntax - > []-> list,()->tuple
- Mutability-> tuples are not 
- Speed -> tuples are faster 
- Memory -> tuples takes less space 
- Built in Functionality-> list having more builtin function 
- Error Prone-> list is more error porne 
- Usability

In [40]:
import time 
L = list(range(10000000))
T = tuple(range(10000000))
start = time.time()
for i in L :
    i*5
print("List time ",time.time()-start)
start = time.time()
for i in T :
    i*5
print("Tuple time ",time.time()-start)
# tuple takes less time

List time  1.7306954860687256
Tuple time  1.6150240898132324

In [42]:
import sys 
L = list(range(10000000))
T = tuple(range(10000000))
print("list size",sys.getsizeof(L))
print("Tuple size",sys.getsizeof(T))

list size 80000056
Tuple size 80000040

In [43]:
a=[1,2,3,4]
b=a
a.append(5)
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [44]:
a=(1,2,3)
b=a
a=a+(4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

#### Special Syntax

In [46]:
# tuple unpacking 
a,b,c=(1,2,3)
print(a,b,c)

1 2 3

In [47]:
a,b=(1,2,3)
print(a,b)
# make sure the items are same in both side

ValueError: too many values to unpack (expected 2)

In [48]:
# value swapping 
a=1
b=2
a,b=b,a
print(a,b)

2 1

In [49]:
a,b,*others=(1,2,3,4,5,5)
print(a,b,others)

1 2 [3, 4, 5, 5]

In [51]:
# zipping tuples 
a=(1,2,3,4)
b=(5,6,7,8)
zip(a,b)
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))